* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto,'Times New Roman', Times, serif;
}

.hero,
.footer {
    background-color: #1F2937;
    color: white;
}

.main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.awesome {
    margin-bottom:0;
}

.secondary-text,
.header-links {
    font-size: 18px;
    color: #E5E7EB;
}

.header {
    font-size: 24px;
    color: #F9FAF8;
    display:flex;
    justify-content: space-between;
    padding: 16px 32px;
}

ul {
    list-style-type: none;
    display:flex;
    gap: 52px;
}

.hero-button {
    background-color: #3882F6;
    color: white;
    border-radius: 3px;
    border-style:none;
    font-weight: bold;
    padding: 10px;
    height: 30px;
    max-width: 100px;
}


.left-and-right {
    display:flex;
    justify-content: space-between;
    padding: 32px;
    align-items: center;
}

.left-side {
    display:flex;
    flex-direction: column;
    gap: 16px;
    max-width: 400px;
}

.right-side {
    margin-right: 100px;
}

.footer {
    display:flex;
    flex: 1;
}

.footer {
    display:flex;
    padding: 30px;
    justify-content: center;
    align-items: center;
}

.info-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    display:flex;
    justify-content: center;
    margin: 30px;
}

.random-information {
    display:flex;
    gap: 52px;
    justify-content: center;
    padding: 32px;
    margin-bottom: 100px;
}

.desc {
    max-width: 150px;
}

.info {
    border: 5px solid #508ff7;
    border-radius: 16px;
}

.quote {
    background-color: #E5E7EB;
    padding: 100px;
    padding-left: 300px;
    padding-right: 300px;
}

.quote-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    text-align: center;
}

.thor {
    text-align: right;
}

.bottom-button {
    color: white;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 6px;
    width: 100px;
}

.call-to-container {
    background-color: #3882F6;
    color: white;
    margin: 80px auto;
    padding: 50px;
    border-radius: 16px;
    display:flex;
    gap: 52px;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
}
